<html>

<head>
    <title>
        <%= locals.title %>
    </title>
    <link href="
https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css
" rel="stylesheet">
    <!-- Our css should be below all other styles below-->
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1 id="heading">
        <i class="fa fa-address-book-o"></i> My Contact List </h1>
        <form id="new-contact-form" action="create-contact" method="Post">
            <input id ="name-element" type="text" name="name" placeholder="enter name" required>
            <input id ="phone-element" type="number" name="phone" placeholder="enter phone number" required>
            <button id="button-element" type="submit"> Add  </button>
        </form>

    <div id="contacts-list-container">
        <div class="inside-element">
        <ul>
            <% for (let i of contact_List) { %>
                <li class="contact">
                    <div class="details">
                        <p class="con-inline">
                            <%= i.name %>
                        </p>
                        <p class="con-inline"></p>
                            <%= i.phone %>
                        </p>
                    </div>
                    <div class="delete-button">
                        <a href="/delete-contact/<%= i.phone %>">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </li>
                <% } %>
        </ul>
    </div>
    </div>

  
    <script type="text/javascript" src="/js/home.js"></script>
</body>


</html>