body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffcc66; /* Goldenrod */
}

#heading {
    color: #00ffff; /* Aqua */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
}

li p {
    margin: 25px;
    padding: 25px;
    padding-right: 10px;
}

#new-contact-form {
    border: 2px solid #ff3333; /* Red */
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-content: center;
    border-radius: 10px;
}

#name-element {
    margin: 10px;
}

#phone-element {
    margin: 10px;
}

#button-element {
    margin: 10px;
    width: 50px;
}

#inside-element {
    border: 2px solid #ff3333; /* Red */
    border-radius: 10px;
}

.con-inline {
    display: block;
    margin: 2px;
    border: 2px solid #ff3333; /* Red */
    padding: 2px;
    background-color: #ffff99; /* Yellow */
    border-radius: 10px;
}

.con-inline2 {
    display: block;
    margin: 2px;
    border: 2px solid #ff3333; /* Red */
    padding: 2px;
    background-color: #66ff66; /* Green */
    border-radius: 10px;
}

.main {
    background-color: #ffcccc; /* Pink */
    border: 2px solid #ffff99; /* Yellow */
    width: 50%;
    border-radius: 10px;
}

.details {
    background-color: #dcdcdc; /* Gainsboro */
    width: 50%;
    margin: 2px;
    border: 2px solid #a52a2a; /* Brown */
    border-radius: 10px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}
